.slider {
  box-sizing: border-box;
  padding: 48px 0 32px;
  height: calc(100vh - 80px);
  overflow-y: auto;

  .title {
    margin: 0;
    flex: 1;
    min-width: 0;
    transition: all 0.2s;

    :global {
      textarea {
        background: #f7f1e3;
        border: none;
        outline: none;
        box-shadow: none;
        padding-left: 32px;
        line-height: 24px;
      }
    }
  }

  .icons {
    opacity: 0;
    width: 0;
    transition: all 0.2s;
  }

  .menuItem:hover {
    .icons {
      opacity: 1;
      width: fit-content;
    }
  }
}

.content {
  box-sizing: border-box;
  flex: 1;
  min-width: 0;
  min-height: 0;
  background-color: #fefbec;
  margin: var(--size-spacing-l);
  padding: 16px 32px 32px;
  overflow-y: auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 82px - 32px);
}

:global {
  .ant-menu {
    outline: none !important;
  }
}

.newButtons {
  position: absolute;
  right: 0;
  top: 8px;
  right: 24px;
}
